@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700;800&family=Work+Sans:wght@400;500&display=swap');

:root {
    --family-inter: "Inter",  sans-serif;
    --family-work: "Work", sans-serif;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: var(--family-work);
}

img,
input,
button,
span,
textarea {
    display: block;
    outline: none;
    border: none;
    background-color: transparent;
}
button{
    cursor: pointer;
}
a {
    display: block;
    text-decoration: none;
}
.container{
    max-width: 1700px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
/*header*/
header {
    background: url("img/bghead.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 100%;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 0 0;

}

.logo{
    font-weight: 800;
    font-size: 48px;
    line-height: 58px;
    text-transform: capitalize;
    color: #000000;
    font-family: var(--family-inter);
    position: relative;
    z-index: 1;
    padding: 24px 0 24px 24px;
}
.logo::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 106px;
    height: 106px;
    border-radius: 100%;
    background: #94D0D5;
    z-index: -1;
}
/*content header*/

.content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 140px;
    height: calc(100vh - 160px);
}
.big-title {
    font-family: var(--family-inter);
    font-weight: 800;
    font-size: 108px;
    line-height: 106%;
    letter-spacing: -0.04em;
    color: #111111;
    max-width: 900px;
}
.big-text {
    font-family: var(--family-work);
    font-weight: 400;
    font-size: 24px;
    line-height: 198%;
    max-width: 720px;
    padding-top: 20px;
}

.button {
    padding: 30px 50px;
    background: #F4F4F0;
    border: 1px solid #111111;
    border-radius: 18px;
    margin-top: 45px;
    font-family:var(--family-work);
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}
/* fontawesome icons */
.content-icon{
    width: 50px;
    height: 50px;
    background: #F4F4F0;
    border: 1px solid #111111;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.content-icon:not(:last-child){
    margin-bottom: 15px;
}
.content-icon i{
    color: #111111;
    font-size: 24px;
}
/* header burger menu */
.header-menu{
    display: none;
}
.menu__cross{
    display: block;
    z-index: 103;
    cursor: pointer;
    width: 50px;
    height: 30px;
    position: relative;
}
.menu__cross span{
    position: absolute;
    left: -5px;
    width: 90%;
    height: 12%;
    transition: all 0.3s ease;
    background-color: #111111;
    top: 50%;
    transform: scale(1) translate(0, -50%);
}
.menu__cross::after, 
.menu__cross::before{
    display: block;
    content: "";
    position: absolute;
    left: 0;
    width: 80%;
    height: 12%;
    background-color: #111111;
}
.menu__cross::before{
    top: 0;
}
.menu__cross::after{
    bottom: 0;
}
.menu__cross.active3 span{
    transform: scale(0) translate(0, -50%);
}
.menu__cross.active3::before{
    top: 50%;
    transform: rotate(-45deg) translate(0, -50%);
}
.menu__cross.active3::after{
    bottom: 50%;transform: rotate(45deg) translate(0, 50%);
}
.content-left>.content-right{
    display: none;
}
/* 1920px */
/* done */

/* 1750px */
@media(max-width:1600px){
    .nav{
        padding-top: 30px;
    }
    .logo{
        font-size: 32px;
        padding: 7px 0 7px 20px;
    }
    .logo::before{
        width: 70px;
        height: 70px;
    }
    .menu__cross{
        width: 30px;
        height: 20px;
    }
    .header{
        background-position: bottom center;
    }
    .content{
        padding: 0 80px;
        height: calc(100vh - 100px);
    }
    .big-title{
        font-size: 65px;
        max-width: 500px;
    }
    .big-text{
        font-size: 18px;
        max-width: 500px;
    }
    .button{
        padding: 15px 30px;
        font-size: 13px;
    }
    .content-icon{
        width: 40px;
        height: 40px;
    }
    .content-icon i{
        font-size: 16px;
    }
}

@media(max-width:992px){
.container{
padding:0 20px;
}
.content{
    padding: 0 80px;
    height: calc(100vh - 80px);
    justify-content: center;
}
.logo{
font-size: 24px;
line-height: 25px;
padding: 12px 0 12px 12px;
}
.logo::before{
    width: 50px;
    height: 50px;
}
.big-title{
font-size: 45px;
max-width: 350px;
}
.big-text{
font-size: 14px;
max-width: 350px;
}
.button{
padding: 14px 28px;
font-size: 10px;
margin-top: 30px;
}
.content-icon{
width: 30px;
height: 30px;
display: flex;
}
.content-icon i{
font-size: 12px;
}
.content{
    flex-direction: column;
    align-items: flex-start;
}
.content-right{
    display: flex;
    align-items: center;
}
.content>.content-right{
    display: none;
}
.content-left>.content-right{
    display: flex;
}
.content-icon:not(:last-child){
    margin-bottom: 0;
}
}
@media(max-width:600px){
    .logo{
        font-size: 17px;
        line-height: 17px;
        padding: 7px 0 7px 7px;
        }
        .logo::before{
            width: 27px;
            height: 27px;
        }
        .big-title{
        font-size: 29px;
        max-width: 230px;
        }
        .big-text{
        font-size: 14px;
        max-width: 350px;
        }
    .content{
        padding:0;
    }
}
